body {
    background-color: #08000f !important;
    max-width: 2500px;
    display: block !important;
    margin: 0 auto !important;
    overflow-x: hidden;
    cursor: url(/cursors/cursor.cur), default !important;
}

div {
    display: block;
}

.container-fluid {
    background-color: #08000f;
    padding-left: 3% !important;
    padding-right: 3% !important;
    overflow-x: hidden;
}

.headt {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px !important;
    text-align: center;
}

.header {
    margin-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

@media (max-width:750px) {
    .header {
        display: none;
    }
}

.headerm {
    display: none;
}

@media (max-width:750px) {
    .headerm {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
}

.col-3 {
    background: linear-gradient(to top, #170e3d, #08000f);
    border-right: 15px solid #08000f;
    border-left: 15px solid #08000f;
    padding: 0px !important;
    margin-bottom: 20px;
}

.col {
    background: linear-gradient(-45deg, #030330, #0f0735, #1d073a, #1d043f);
    background-size: 400%;
    padding: 5rem;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3.5rem;
    border: 1px solid black;
    border-radius: 30px 10px 30px 10px;
}

.zero {
    background: transparent !important;
    border: none !important;
}

@media (max-width:800px) {
    .zero {
        display: none;
    }
}

.randomHeroes {
    font-size: 0;
}

.rdmHeroes {
    float: left;
    margin-top: 60px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}

.rdmImg {
    background: linear-gradient(#08000f, #6316d6);
    border-radius: 0px 0px 10px 10px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    max-width: 300px;
    max-height: 350px;
    height: 100%;
    width: 100%;
}

@media(max-width:749px) {
    .randomHeroes {
        display: none;
    }
}

a {
    cursor: url(/cursors/pointer.cur), pointer !important;
}

h1 {
    color: #cce5ff !important;
    font-size: calc(1em + 2vw) !important;
    font-family: 'Lora', serif;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
    text-transform: uppercase !important;
}

h2 {
    padding-top: 40px;
    text-align: center;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    font-size: calc(1em + 2.3vw) !important;
}

h3 {
    color: #cce5ff !important;
    font-size: calc(1em + 1vw) !important;
    font-family: 'Lora', serif;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
    text-transform: none;
}

.rdmheroesh3 {
    font-size: calc(1em + 1.6vw) !important;
}

ul {
    list-style-type: none !important;
    margin: 0;
    display: block;
    margin-block-start: -4em !important;
    margin-block-end: -3em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

li {
    text-transform: uppercase;
    font-family: 'Lora', serif;
}

em {
    text-transform: none;
    color: #7f7de9;
    font-size: calc(1em + 0.3vw) !important;
    font-family: 'Lora', serif;
    text-shadow: 0 0 1rem #57b1e9;
}

.text {
    color: #cce5ff;
    vertical-align: bottom !important;
    margin-left: 40% !important;
    text-shadow: 0 0 1rem #009cff;
    font-size: calc(1em + 0.4vw) !important;
}

@media (max-width:1150px) {
    .text {
        vertical-align: bottom !important;
        margin-left: 40% !important;
        text-shadow: 0 0 1rem #009cff;
        ;
    }
}

@media (max-width:350px) {
    .text {
        vertical-align: bottom !important;
        margin-left: 40% !important;
        text-shadow: 0 0 1rem #009cff;
    }
}

.stat-icon {
    max-width: 80px;
    width: auto;
    height: auto;
    padding-right: 15px;
}

@media (max-width:350px) {
    .stat-icon {
        max-width: 50px;
        width: auto;
        height: auto;
        padding-right: 10px;
    }
}

.stats-damage {
    background: linear-gradient(60deg, #f00808, #c71212, #971919, #791c1c);
    background-size: 300% 300% !important;
    animation: animatedgradient 3s ease alternate infinite !important;
    box-shadow: 0 0 1rem #ff0909;
}

.stats-support {
    background: linear-gradient(60deg, #80CAFF, #0095FF, #0082FF, #0067FF);
    background-size: 300% 300% !important;
    animation: animatedgradient 3s ease alternate infinite !important;
    box-shadow: 0 0 1rem #009cff;
}

.stats-hp {
    background: linear-gradient(60deg, #41FF41, #33C52E, #0DB508, #037e01);
    background-size: 300% 300% !important;
    animation: animatedgradient 3s ease alternate infinite !important;
    box-shadow: 0 0 1rem #1eff00;
}

.stats-difficult {
    background: linear-gradient(60deg, #FFFFFF, #F4F4F4, #F0F0F0, #EEEEEE);
    background-size: 300% 300% !important;
    animation: animatedgradient 3s ease alternate infinite !important;
    box-shadow: 0 0 1rem #ffffff;
}

.icon {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 25%;
}

@media (max-width:350px) {
    .icon {
        display: block;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
    }
}

p {
    width: 5%;
    height: 9px;
    display: inline-block;
    margin-right: 3px;
    background-color: rgb(50, 51, 51);
    opacity: 0.8;
}

@media (max-width:1450px) {
    p {
        width: 5%;
        height: 9px;
        display: inline-block;
        margin-right: -0.5px;
    }
}

@media (max-width:1150px) {
    p {
        width: 5%;
        height: 8px;
        display: inline-block;
        margin-right: -1.8px;
    }
}

@media (max-width:1030px) {
    p {
        width: 5% !important;
        height: 10px !important;
        display: inline-block;
        margin-right: 4px;
    }
}

@media (max-width:752px) {
    p {
        width: 5% !important;
        height: 8px !important;
        display: inline-block;
        margin-right: 0px;
    }
}

@media (max-width:583px) {
    p {
        width: 5% !important;
        height: 7px !important;
        display: inline-block;
        margin-right: -2px;
    }
}

@media (max-width:510px) {
    p {
        width: 5% !important;
        height: 10px !important;
        display: inline-block;
        margin-right: 4px;
    }
}

.min1030 {
    display: none;
}

@media (max-width:1030px) {
    .min1030 {
        display: block;
    }
}

.min510 {
    display: none;
}

@media (max-width:510px) {
    .min510 {
        display: block;
    }
}

.class {
    text-align: top;
}

.heroic {
    max-width: 120px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.ab, .bicon {
    color: #cce5ff;
    font-size: calc(1em + 0.6vw) !important;
    font-family: 'Lora', serif;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
}

.bicon {
    text-align: center;
}

.skill {
    text-align: left !important;
}

.base {
    max-width: 100px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.img-ab {
    border-radius: 20px 7px 20px 7px;
    min-width: 250px;
    width: 100%;
    height: auto;
    background: linear-gradient(60deg, #14324e, #6316d6, #5073b8, #1098ad, #097264);
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    padding: 3px;
    display: block;
    margin: 0 auto;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mab {
    max-width: 100px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width:1000px) {
    .mab {
        max-width: 75px;
    }
}

.hidden {
    display: none
}

.switch {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 300px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #4f6cff, #48069c);
    text-align: center;
    color: #fff !important;
    font-size: 1.9rem;
    cursor: pointer !important;
    border-radius: 40px;
    text-decoration: none !important;
}

.switch:hover {
    background: linear-gradient(to bottom, #4f6cff, #48069c);
    color: #fff !important;
    font-size: 1.9rem;
    cursor: pointer !important;
    box-shadow: 0px 0px 40px #9640fe;
}

.lang {
    font-size: 1.8rem;
    padding-top: 4em;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    text-shadow: 0 0 1rem #009cff;
}

.lang-menu {
    margin: 8px !important;
    display: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.3rem;
    padding: 4px;
}

.langLi {
    text-transform: none;
}

.lang-item:focus~.lang-menu, .lang-item:active~.lang-menu, .lang-menu:hover {
    display: block;
}