body {
    background-color: #08000f !important;
    max-width: 2000px;
    display: block !important;
    margin: 0 auto !important;
}

h1 {
    text-align: center;
    color: white !important;
    text-shadow: 0 0 1rem #009cff;
    font-size: 3rem !important;
    text-transform: uppercase;
}

p {
    padding-top: 4%;
    color: rgb(211, 207, 207);
    text-shadow: 0 0 1rem #009cff;
    margin-left: 2%;
}

@media (max-width:550px) {
    h1 {
        font-size: 2rem !important;
    }
}

h3 {
    margin: auto;
    padding: 10px;
    max-width: 600px;
    color: #666;
}

h3 span {
    float: right;
}

h3 a {
    font-weight: normal;
    display: block;
}

#cont {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: #f3f3f3;
    margin: -20px 30px 0px 30px;
    padding: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    margin: 0px;
}

li ul {
    margin-left: 20px;
}

.lhead {
    background: #ddd;
    padding: 10px;
    margin: 10px 0px;
}

.lcount {
    padding: 0px 10px;
}

.lpage {
    border-bottom: #ddd 1px solid;
    padding: 5px;
}

.lpage a {
    color: #000 !important;
}

.last-page {
    border: none;
}