body {
    background-color: #08000f !important;
    margin: 0 auto !important;
    max-width: 2500px;
}

h1 {
    font-size: 2.2rem !important;
    text-align: center;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
}

h2 {
    font-size: 1.8rem !important;
    text-align: center;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
}

form {
    display: grid;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 420px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 35px;
    border: 2px solid #08000f;
    border-radius: 20px;
    background: linear-gradient(to top, #0e0520, #1b1146);
}

@media (max-width:420px) {
    form {
        padding: 20px;
    }
}

.input-form {
    position: relative;
    line-height: 35px;
}

.input-e-mail {
    position: relative;
    line-height: 35px;
}

textarea {
    max-width: 350px;
    width: 100%;
    margin-top: 50px !important;
    border-radius: 10px;
    padding-top: 10px;
    height: 100px;
}

input {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    margin-top: 50px !important;
}

input:invalid {
    outline: 0;
    color: #0e0520;
    border-color: #0e0520;
}

input:focus, input:valid, textarea:focus {
    border-color: #2704c2;
}

label {
    padding-left: 7px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

input:focus~label, input:valid~label, textarea:focus~label {
    font-size: 16px;
    top: 10px;
    color: #cce5ff;
    text-shadow: 0 0 1rem #009cff;
}

button {
    margin-top: 20px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 150px;
    width: 100%;
    height: 40px;
    border-radius: 10px !important;
    background: linear-gradient(#27176d, #3318ac);
    color: white;
}

.navbar-toggler {
    background: transparent !important;
}

.success {
    display: none;
    background: #E1F8ED;
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.is-active {
    display: block;
}