/*Button "Back to top"*/

.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background: url(/image/home/navigation_arrow_up.svg);
    cursor: pointer;
    display: none;
    font-size: 0px;
}

.back_to_top-show {
    display: block;
}

/* Customs cursors */

body {
    cursor: url(/cursors/cursor.cur), default !important;
}

a {
    cursor: url(/cursors/pointer.cur), pointer !important;
}

button {
    cursor: url(/cursors/pointer.cur), pointer !important;
}

/* Scrollbar */

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #12015c;
    box-shadow: 0px 1px 1px #0b0625;
    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

::-webkit-scrollbar {
    width: 11px;
}