body {
    background-color: black !important;
}

div {
    display: block;
}

.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #09035f;
    color: #fff !important;
    cursor: pointer;
    display: none;
    border-radius: 50px;
}

.back_to_top:hover {
    border: 1px solid white;
}

.back_to_top-show {
    display: block;
}

img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 4rem !important;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-weight: 700;
    text-shadow: 0 0 1rem #009cff;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 7em;
}

@media (max-width:350px) {
    img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
}

a {
    text-decoration: none !important;
    color: white !important;
    text-shadow: 0 0 1rem #009cff;
    text-transform: uppercase;
}

.top {
    background: url(/image/game/battlefield/bgtop.jpg) top center no-repeat !important;
    background-size: auto;
}

@media (max-width:800px) {
    .top {
        background: url(/image/game/battlefield/bgtopm.jpg) top center no-repeat !important;
    }
}

@media (max-width:450px) {
    .container-fluid {
        top: 720px !important;
    }
}

.container-fluid {
    position: absolute;
    top: 780px;
    background-color: #0f0716;
}

.col {
    max-width: 360px !important;
    padding: 10px !important;
    text-align: center;
    border: #43286b solid 1px;
    border-radius: 30px;
    margin: 10px;
}

p {
    text-transform: none;
    font-size: 1.2rem;
    color: rgb(92, 92, 199);
    text-shadow: 0 0 1rem;
}

.col:hover {
    box-shadow: 0 0 5rem rgb(5, 122, 218);
    background: url(/image/game/brawl/1.png);
    background-size: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 10em;
    max-width: 200px;
    width: 100%;
    height: auto;
}