body {
    display: block;
    background: url(/image/game/bg.jpg) top center no-repeat;
    background-size: cover;
    background-color: #000d1a !important;
    padding: 0;
    max-width: 2500px;
    margin: 0 auto !important;
    cursor: url(/cursors/cursor.cur), default !important;
}

h1 {
    text-align: center;
    color: #cce5ff !important;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.col {
    text-align: center;
    color: #cce5ff;
    font-family: "Source Sans pro";
    padding: 1em;
}

img:hover {
    border: rgba(34, 34, 241, 0.829) 3px solid;
    border-radius: 200px;
    box-shadow: rgb(43, 43, 224) 0 0 25px 10px;
    transition: all .3s ease;
}

img {
    width: 140px;
    height: 140px;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    cursor: url(/cursors/pointer.cur), pointer !important;
}

a {
    color: #cce5ff !important;
    text-decoration: none !important;
    cursor: url(/cursors/pointer.cur), pointer !important;
}

a:hover {
    text-shadow: 0px 1px 1px rgba(229, 234, 255, 1);
}

button {
    background-color: transparent;
    border-color: transparent;
}

button:focus {
    outline: transparent !important;
}

form {
    margin: 100px;
}

.search {
    position: relative;
    line-height: 30px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

input {
    border-radius: 10px;
    width: 100%;
}

input:invalid {
    outline: 0;
    color: #0e0520;
    border-color: #0e0520;
}

input:focus, input:valid {
    border-color: #2704c2;
}

input:focus~label, input:valid~label {
    font-size: 16px;
    top: -26px;
    color: #1d0d68;
}

p {
    color: white;
}

svg {
    cursor: url(/cursors/pointer.cur), pointer !important;
}

.icons {
    display: grid;
    grid-template-areas: '. i1 role . i2 universe . search .';
    text-align: center;
    color: #cce5ff;
    margin-top: 50px;
    padding: 0;
}

@media(max-width:1027px) {
    .icons {
        grid-template-areas: '. i1 role . .' '. i2 universe . .' '. . search . .';
    }
}

@media(max-width:489px) {
    .icons {
        grid-template-areas: '. i1 .' 'role role role' '. i2 .' 'universe universe universe' 'search search search';
    }
    .i1 {
        padding-bottom: 10px;
    }
    .i2 {
        padding-bottom: 10px;
    }
}

.lang {
    font-size: 1.5rem;
    padding-top: 4em;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
}

.lang-menu {
    display: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px;
}

.lang-item:focus~.lang-menu, .lang-item:active~.lang-menu, .lang-menu:hover {
    display: block;
}

svg {
    cursor: pointer;
}

.off svg * {
    fill: #cce5ff !important;
}

.i1 {
    grid-area: i1;
    padding-top: 10px;
    text-transform: uppercase;
}

.role {
    grid-area: role;
}

.i2 {
    grid-area: i2;
    padding-top: 10px;
    text-transform: uppercase;
}

.universe {
    grid-area: universe;
}

.search {
    grid-area: search;
    margin-top: 3px;
}