body {
    background-color: #08000f !important;
}

div {
    display: block;
}

img {
    max-width: 850px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

ul {
    list-style-type: none !important;
    margin: 0;
    display: block;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

h1 {
    font-size: 3.5rem !important;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 6.5em;
    color: white !important;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 1rem #009cff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width:400px) {
    h1 {
        font-size: 2.8rem !important;
    }
}

h2 {
    font-size: 2.5rem;
    color: white !important;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: white !important;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}

p {
    color: rgb(210, 210, 223);
    text-shadow: 0 0 1rem #89d2ff;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.obj {
    max-width: 400px;
}

.col {
    background-color: #0b1133;
    border: 1px solid #225999;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.image {
    border: 2px solid #225999;
    max-width: 60%;
    margin-bottom: 20px;
    display: block;
}

.image:hover {
    transition: 1.2s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

a {
    text-decoration: none !important;
}