body {
    background-color: #08000f !important;
}

.head {
    display: block;
}

h1 {
    color: rgb(4, 0, 255) !important;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -290px;
}

.videobg {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding-right: -5% !important;
}

.header {
    display: block;
    mix-blend-mode: exclusion;
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 1rem #009cff;
}

.headm {
    display: none;
}

@media (max-width:1250px) {
    .header {
        font-size: 3rem;
        left: 50%;
        margin-left: -220px;
    }
}

@media (max-width:1000px) {
    .header {
        font-size: 2.5rem;
        left: 50%;
        margin-left: -185px;
    }
}

@media (max-width:750px) {
    .header {
        font-size: 2rem;
        left: 50%;
        margin-left: -150px;
    }
}

@media (max-width:550px) {
    .videobg {
        display: none;
    }
    .headm {
        display: block;
        max-width: 550px !important;
        width: 100%;
        height: auto;
    }
}

@media (max-width:380px) {
    img {
        max-width: 290px;
        width: auto;
    }
}

a {
    text-decoration: none !important;
    color: white !important;
}

.col {
    text-align: center !important;
    margin-top: 1em;
}