body {
    background-color: #08000f !important;
.head {
    display: block;
}
.videobg {
    display:block;
    width:110%;
    height:120%;
    position: relative;
    top: 20%;
    right: 0;
    bottom: 0;
    left: -10%;
    z-index: 0;
}
.header {
    z-index: 1;
    display: block;
    margin-left: 35%;
    position: absolute;
    mix-blend-mode: exclusion;
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 1rem #009cff;
}
a {
    text-decoration: none !important;
    color: white !important;
}
