body {
    background-color: #08000f !important;
    max-width: 2000px;
    display: block !important;
    margin: 0 auto !important;
    cursor: url(/cursors/cursor.cur), default !important;
}

a {
    cursor: url(/cursors/pointer.cur), pointer !important;
}

h1 {
    text-align: center;
    color: white !important;
    text-shadow: 0 0 1rem #009cff;
    font-size: 3rem !important;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif !important;
}

p {
    padding-top: 4%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(211, 207, 207);
    text-shadow: 0 0 1rem #009cff;
    margin-left: 2%;
}

@media (max-width:550px) {
    h1 {
        font-size: 2rem !important;
    }
}

.lang {
    font-size: 1.5rem;
    padding-top: 4em;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
}

.lang-menu {
    display: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px;
}

.lang-item:focus~.lang-menu, .lang-item:active~.lang-menu, .lang-menu:hover {
    display: block;
}